//============
// Mixins
//============

//add overlay on element, between () is the color of the overlay
@mixin overlay($color, $opacity) {
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    background: $color;
    opacity: $opacity;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}

// add on element with equal width & height
@mixin square($size) {
  width: $size;
  height: $size;
}

//use for pseudo element
@mixin pseudo {
  content: "";
  position: absolute;
  display: block;
}

//use to troncate elements, meaning it will end the sentence or word with "..." if its too long
@mixin truncate($max-width) {
  max-width: $max-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//BREAKPOINTS

@mixin for($size) {
  //under 480px
  @if $size == mobile-only {
    @media (max-width: 479px) {
      @content;
    }
    //over 481px
  } @else if $size == mobile {
    @media (min-width: 480px) {
      @content;
    }
    //under 767px
  } @else if $size == small-only {
    @media (max-width: 767px) {
      @content;
    }
    //over 768px
  } @else if $size == small {
    @media (min-width: 768px) {
      @content;
    }
    //under 991px
  } @else if $size == medium-only {
    @media (max-width: 991px) {
      @content;
    }
    //over 992px
  } @else if $size == medium {
    @media (min-width: 992px) {
      @content;
    }
    //over 1199px
  } @else if $size == large-only {
    @media (max-width: 1199px) {
      @content;
    }
    //over 1200px
  } @else if $size == large {
    @media (min-width: 1200px) {
      @content;
    }
  } 
}
